In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
items.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
#read the ratings dataset
r_cols = ['user_id', 'movie id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols,encoding='latin-1')

In [5]:
# 1. Group ratings to get count and mean rating per movie
movie_popularity = ratings.groupby('movie id').agg({
    'rating': ['count', 'mean']
}).reset_index()

# 2. Rename columns
movie_popularity.columns = ['movie id', 'rating_count', 'avg_rating']

# 3. Create a popularity score (custom: count * mean)
movie_popularity['popularity_score'] = movie_popularity['rating_count'] * movie_popularity['avg_rating']

# 4. Merge popularity scores into the items dataframe
items_popular = pd.merge(items, movie_popularity, on='movie id', how='left')

In [6]:
# Define genre columns
genre_cols = ['Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary',
              'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
              'Sci-Fi', 'Thriller', 'War', 'Western']

# Dictionary to store results
top_bottom_movies = {}

for genre in genre_cols:
    genre_movies = items_popular[items_popular[genre] == 1]
    
    # Drop NaN popularity_score if any
    genre_movies = genre_movies.dropna(subset=['popularity_score'])

    # Sort based on popularity_score
    sorted_movies = genre_movies.sort_values(by='popularity_score', ascending=False)

    # Get top and bottom 5
    top_5 = sorted_movies[['movie id', 'movie title', 'popularity_score']].head(5)
    bottom_5 = sorted_movies[['movie id', 'movie title', 'popularity_score']].tail(5)

    top_bottom_movies[genre] = {
        'Top 5': top_5,
        'Bottom 5': bottom_5
    }

In [8]:
# Example: View top 5 most suggested and highly rated Action movies
print("Top 5 Action Movies:\n", top_bottom_movies['Action']['Top 5'])

# Example: View bottom 5 Action Movies
print("\nBottom 5 Action Movies:\n", top_bottom_movies['Action']['Bottom 5'])

Top 5 Action Movies:
      movie id                     movie title  popularity_score
49         50                Star Wars (1977)            2541.0
180       181       Return of the Jedi (1983)            2032.0
173       174  Raiders of the Lost Ark (1981)            1786.0
126       127           Godfather, The (1972)            1769.0
299       300            Air Force One (1997)            1565.0

Bottom 5 Action Movies:
       movie id                                        movie title  \
1547      1548                               The Courtyard (1995)
598        599  Police Story 4: Project S (Chao ji ji hua) (1993)
1617      1618                            King of New York (1990)
1363      1364                                Bird of Prey (1996)
829        830                                    Power 98 (1995)

      popularity_score
1547               1.0
598                1.0
1617               1.0
1363               1.0
829                1.0

In [9]:
# Example: View top 5 most suggested and highly rated Adventure movies
print("Top 5 Adventure Movies:\n", top_bottom_movies['Adventure']['Top 5'])

# Example: View bottom 5 Adventure Movies
print("\nBottom 5 Adventure Movies:\n", top_bottom_movies['Adventure']['Bottom 5'])

Top 5 Adventure Movies:
      movie id                      movie title  popularity_score
49         50                 Star Wars (1977)            2541.0
180       181        Return of the Jedi (1983)            2032.0
173       174   Raiders of the Lost Ark (1981)            1786.0
171       172  Empire Strikes Back, The (1980)            1543.0
116       117                 Rock, The (1996)            1396.0

Bottom 5 Adventure Movies:
       movie id                          movie title  popularity_score
246        247  Turbo: A Power Rangers Movie (1997)               9.0
1449      1450               Golden Earrings (1947)               8.0
1522      1523         Good Man in Africa, A (1994)               6.0
1514      1515              Wings of Courage (1995)               4.0
896        897                  Time Tracers (1995)               3.0

In [10]:
# Example: View top 5 most suggested and highly rated Animation movies
print("Top 5 Animation Movies:\n", top_bottom_movies['Animation']['Top 5'])

# Example: View bottom 5 Animation Movies
print("\nBottom 5 Animation Movies:\n", top_bottom_movies['Animation']['Bottom 5'])

Top 5 Animation Movies:
      movie id                  movie title  popularity_score
0           1             Toy Story (1995)            1753.0
94         95               Aladdin (1992)             835.0
70         71        Lion King, The (1994)             832.0
587       588  Beauty and the Beast (1991)             766.0
431       432              Fantasia (1940)             656.0

Bottom 5 Animation Movies:
       movie id                                        movie title  \
1075      1076                             Pagemaster, The (1994)
1366      1367                                       Faust (1994)
1408      1409                          Swan Princess, The (1994)
1469      1470                            Gumby: The Movie (1995)
1411      1412  Land Before Time III: The Time of the Great Gi...

      popularity_score
1075              27.0
1366              21.0
1408              20.0
1469              13.0
1411              10.0

In [12]:
# Example: View top 5 most suggested and highly rated Children's movies
print("Top 5 Children's Movies:\n", top_bottom_movies["Children's"]['Top 5'])

# Example: View bottom 5 Children's Movies
print("\nBottom 5 Children's Movies:\n", top_bottom_movies["Children's"]['Bottom 5'])

Top 5 Children's Movies:
      movie id                                   movie title  popularity_score
0           1                              Toy Story (1995)            1753.0
150       151  Willy Wonka and the Chocolate Factory (1971)            1184.0
422       423             E.T. the Extra-Terrestrial (1982)            1150.0
131       132                      Wizard of Oz, The (1939)            1003.0
7           8                                   Babe (1995)             875.0

Bottom 5 Children's Movies:
       movie id                                  movie title  popularity_score
1607      1608                                 Buddy (1997)               9.0
246        247          Turbo: A Power Rangers Movie (1997)               9.0
599        600        Daniel Defoe's Robinson Crusoe (1996)               6.0
1291      1292                        Simple Wish, A (1997)               5.0
313        314  3 Ninjas: High Noon At Mega Mountain (1998)               5.0

In [7]:
# Example: View top 5 most suggested and highly rated Comedy movies
print("Top 5 Comedy Movies:\n", top_bottom_movies['Comedy']['Top 5'])

# Example: View bottom 5 Comedy Movies
print("\nBottom 5 Comedy Movies:\n", top_bottom_movies['Comedy']['Bottom 5'])

Top 5 Comedy Movies:
      movie id                             movie title  popularity_score
0           1                        Toy Story (1995)            1753.0
293       294                        Liar Liar (1997)            1531.0
172       173              Princess Bride, The (1987)            1352.0
203       204               Back to the Future (1985)            1342.0
167       168  Monty Python and the Holy Grail (1974)            1285.0

Bottom 5 Comedy Movies:
       movie id                                 movie title  popularity_score
1625      1626  Nobody Loves Me (Keiner liebt mich) (1994)               1.0
1556      1557                          Yankee Zulu (1994)               1.0
1566      1567                              Careful (1992)               1.0
1567      1568                Vermont Is For Lovers (1992)               1.0
1338      1339                 Stefano Quantestorie (1993)               1.0

In [13]:
# Example: View top 5 most suggested and highly rated Crime movies
print("Top 5 Crime Movies:\n", top_bottom_movies["Crime"]['Top 5'])

# Example: View bottom 5 Crime Movies
print("\nBottom 5 Crime Movies:\n", top_bottom_movies["Crime"]['Bottom 5'])

Top 5 Crime Movies:
      movie id                 movie title  popularity_score
99        100                Fargo (1996)            2111.0
126       127       Godfather, The (1972)            1769.0
55         56         Pulp Fiction (1994)            1600.0
301       302    L.A. Confidential (1997)            1236.0
11         12  Usual Suspects, The (1995)            1171.0

Bottom 5 Crime Movies:
       movie id                  movie title  popularity_score
1605      1606              Deceiver (1997)               2.0
1452      1453  Angel on My Shoulder (1946)               2.0
1668      1669     MURDER and murder (1996)               2.0
1585      1586        Lashou shentan (1992)               1.0
1617      1618      King of New York (1990)               1.0

In [14]:
# Example: View top 5 most suggested and highly rated Documentary movies
print("Top 5 Documentary Movies:\n", top_bottom_movies["Documentary"]['Top 5'])

# Example: View bottom 5 Documentary Movies
print("\nBottom 5 Documentary Movies:\n", top_bottom_movies["Documentary"]['Bottom 5'])

Top 5 Documentary Movies:
       movie id                   movie title  popularity_score
47          48            Hoop Dreams (1994)             479.0
31          32                  Crumb (1994)             307.0
812        813  Celluloid Closet, The (1995)             218.0
846        847    Looking for Richard (1996)             205.0
1064      1065          Koyaanisqatsi (1983)             185.0

Bottom 5 Documentary Movies:
       movie id                                   movie title  popularity_score
1648      1649                           Big One, The (1997)               3.0
1362      1363                       Leopard Son, The (1996)               1.0
1365      1366     JLG/JLG - autoportrait de décembre (1994)               1.0
1560      1561    Tigrero: A Film That Was Never Made (1994)               1.0
1561      1562  Eye of Vichy, The (Oeil de Vichy, L') (1993)               1.0

In [15]:
# Example: View top 5 most suggested and highly rated Drama movies
print("Top 5 Drama Movies:\n", top_bottom_movies["Drama"]['Top 5'])

# Example: View bottom 5 Drama Movies
print("\nBottom 5 Drama Movies:\n", top_bottom_movies["Drama"]['Bottom 5'])

Top 5 Drama Movies:
      movie id                       movie title  popularity_score
99        100                      Fargo (1996)            2111.0
257       258                    Contact (1997)            1936.0
126       127             Godfather, The (1972)            1769.0
285       286       English Patient, The (1996)            1759.0
97         98  Silence of the Lambs, The (1991)            1673.0

Bottom 5 Drama Movies:
       movie id                                   movie title  popularity_score
1556      1557                            Yankee Zulu (1994)               1.0
1545      1546                       Shadows (Cienie) (1988)               1.0
1351      1352  Shadow of Angels (Schatten der Engel) (1976)               1.0
1328      1329                          Low Life, The (1994)               1.0
1583      1584                Symphonie pastorale, La (1946)               1.0

In [16]:
# Example: View top 5 most suggested and highly rated Fantasy movies
print("Top 5 Fantasy Movies:\n", top_bottom_movies["Fantasy"]['Top 5'])

# Example: View bottom 5 Fantasy Movies
print("\nBottom 5 Fantasy Movies:\n", top_bottom_movies["Fantasy"]['Bottom 5'])

Top 5 Fantasy Movies:
      movie id                        movie title  popularity_score
422       423  E.T. the Extra-Terrestrial (1982)            1150.0
471       472                 Dragonheart (1996)             487.0
410       411        Nutty Professor, The (1996)             475.0
71         72                   Mask, The (1994)             412.0
754       755                     Jumanji (1995)             318.0

Bottom 5 Fantasy Movies:
       movie id                        movie title  popularity_score
547        548  NeverEnding Story III, The (1994)              26.0
1335      1336                      Kazaam (1996)              18.0
1292      1293                    Star Kid (1997)              15.0
1291      1292              Simple Wish, A (1997)               5.0
1575      1576     Hungarian Fairy Tale, A (1987)               1.0

In [17]:
# Example: View top 5 most suggested and highly rated Film-Noir movies
print("Top 5 Film-Noir Movies:\n", top_bottom_movies["Film-Noir"]['Top 5'])

# Example: View bottom 5 Film-Noir Movies
print("\nBottom 5 Film-Noir Movies:\n", top_bottom_movies["Film-Noir"]['Bottom 5'])

Top 5 Film-Noir Movies:
      movie id                       movie title  popularity_score
301       302          L.A. Confidential (1997)            1236.0
88         89               Blade Runner (1982)            1138.0
653       654                  Chinatown (1974)             608.0
483       484        Maltese Falcon, The (1941)             581.0
656       657  Manchurian Candidate, The (1962)             558.0

Bottom 5 Film-Noir Movies:
       movie id                movie title  popularity_score
1063      1064           Crossfire (1947)              17.0
1421      1422              Suture (1993)               9.0
1603      1604  He Walked by Night (1948)               4.0
1475      1476            Raw Deal (1948)               2.0
1581      1582               T-Men (1947)               1.0

In [18]:
# Example: View top 5 most suggested and highly rated Horror movies
print("Top 5 Horror Movies:\n", top_bottom_movies["Horror"]['Top 5'])

# Example: View bottom 5 Horror Movies
print("\nBottom 5 Horror Movies:\n", top_bottom_movies["Horror"]['Bottom 5'])

Top 5 Horror Movies:
      movie id                movie title  popularity_score
287       288              Scream (1996)            1645.0
182       183               Alien (1979)            1174.0
233       234                Jaws (1975)            1057.0
184       185              Psycho (1960)             980.0
207       208  Young Frankenstein (1974)             789.0

Bottom 5 Horror Movies:
       movie id                   movie title  popularity_score
1624      1625             Nightwatch (1997)               4.0
1370      1371           Machine, The (1994)               3.0
1519      1520              Fear, The (1995)               3.0
857        858  Amityville: Dollhouse (1996)               3.0
783        784          Beyond Bedlam (1993)               2.0

In [19]:
# Example: View top 5 most suggested and highly rated Musical movies
print("Top 5 Musical Movies:\n", top_bottom_movies["Musical"]['Top 5'])

# Example: View bottom 5 Musical Movies
print("\nBottom 5 Musical Movies:\n", top_bottom_movies["Musical"]['Bottom 5'])

Top 5 Musical Movies:
      movie id                 movie title  popularity_score
131       132    Wizard of Oz, The (1939)            1003.0
185       186  Blues Brothers, The (1980)             963.0
142       143  Sound of Music, The (1965)             836.0
94         95              Aladdin (1992)             835.0
70         71       Lion King, The (1994)             832.0

Bottom 5 Musical Movies:
       movie id                     movie title  popularity_score
1036      1037                 Grease 2 (1982)              48.0
1297      1298          Band Wagon, The (1953)              33.0
102        103  All Dogs Go to Heaven 2 (1996)              28.0
1458      1459         Madame Butterfly (1995)              25.0
1457      1458    Damsel in Distress, A (1937)               4.0

In [20]:
# Example: View top 5 most suggested and highly rated Mystery movies
print("Top 5 Mystery Movies:\n", top_bottom_movies["Mystery"]['Top 5'])

# Example: View bottom 5 Mystery Movies
print("\nBottom 5 Mystery Movies:\n", top_bottom_movies["Mystery"]['Bottom 5'])

Top 5 Mystery Movies:
      movie id                   movie title  popularity_score
301       302      L.A. Confidential (1997)            1236.0
190       191                Amadeus (1984)            1149.0
404       405    Mission: Impossible (1996)            1140.0
134       135  2001: A Space Odyssey (1968)            1028.0
327       328      Conspiracy Theory (1997)            1010.0

Bottom 5 Mystery Movies:
       movie id                    movie title  popularity_score
1552      1553         Underneath, The (1995)              11.0
1451      1452       Lady of Burlesque (1943)               4.0
1668      1669       MURDER and murder (1996)               2.0
829        830                Power 98 (1995)               1.0
1580      1581  Woman in Question, The (1950)               1.0

In [21]:
# Example: View top 5 most suggested and highly rated Romance movies
print("Top 5 Romance Movies:\n", top_bottom_movies["Romance"]['Top 5'])

# Example: View bottom 5 Romance Movies
print("\nBottom 5 Romance Movies:\n", top_bottom_movies["Romance"]['Bottom 5'])

Top 5 Romance Movies:
      movie id                      movie title  popularity_score
49         50                 Star Wars (1977)            2541.0
180       181        Return of the Jedi (1983)            2032.0
285       286      English Patient, The (1996)            1759.0
171       172  Empire Strikes Back, The (1980)            1543.0
312       313                   Titanic (1997)            1486.0

Bottom 5 Romance Movies:
       movie id                             movie title  popularity_score
1579      1580                         Liebelei (1933)               1.0
1567      1568            Vermont Is For Lovers (1992)               1.0
1562      1563  Promise, The (Versprechen, Das) (1994)               1.0
1339      1340                 Crude Oasis, The (1995)               1.0
1492      1493                 Modern Affair, A (1995)               1.0

In [22]:
# Example: View top 5 most suggested and highly rated Sci-Fi movies
print("Top 5 Sci-Fi Movies:\n", top_bottom_movies["Sci-Fi"]['Top 5'])

# Example: View bottom 5 Sci-Fi Movies
print("\nBottom 5 Sci-Fi Movies:\n", top_bottom_movies["Sci-Fi"]['Bottom 5'])

Top 5 Sci-Fi Movies:
      movie id                      movie title  popularity_score
49         50                 Star Wars (1977)            2541.0
180       181        Return of the Jedi (1983)            2032.0
257       258                   Contact (1997)            1936.0
171       172  Empire Strikes Back, The (1980)            1543.0
6           7            Twelve Monkeys (1995)            1489.0

Bottom 5 Sci-Fi Movies:
       movie id                            movie title  popularity_score
1292      1293                        Star Kid (1997)              15.0
1415      1416                       No Escape (1994)              12.0
1471      1472  Visitors, The (Visiteurs, Les) (1993)               7.0
896        897                    Time Tracers (1995)               3.0
1595      1596               Nemesis 2: Nebula (1995)               2.0

In [23]:
# Example: View top 5 most suggested and highly rated Thriller movies
print("Top 5 Thriller Movies:\n", top_bottom_movies["Thriller"]['Top 5'])

# Example: View bottom 5 Thriller Movies
print("\nBottom 5 Thriller Movies:\n", top_bottom_movies["Thriller"]['Bottom 5'])

Top 5 Thriller Movies:
      movie id                       movie title  popularity_score
99        100                      Fargo (1996)            2111.0
97         98  Silence of the Lambs, The (1991)            1673.0
287       288                     Scream (1996)            1645.0
299       300              Air Force One (1997)            1565.0
116       117                  Rock, The (1996)            1396.0

Bottom 5 Thriller Movies:
       movie id                movie title  popularity_score
1578      1579         Baton Rouge (1988)               1.0
1620      1621      Butterfly Kiss (1995)               1.0
1558      1559  Hostile Intentions (1994)               1.0
829        830            Power 98 (1995)               1.0
1547      1548       The Courtyard (1995)               1.0

In [24]:
# Example: View top 5 most suggested and highly rated War movies
print("Top 5 War Movies:\n", top_bottom_movies["War"]['Top 5'])

# Example: View bottom 5 War Movies
print("\nBottom 5 War Movies:\n", top_bottom_movies["War"]['Bottom 5'])

Top 5 War Movies:
      movie id                      movie title  popularity_score
49         50                 Star Wars (1977)            2541.0
180       181        Return of the Jedi (1983)            2032.0
285       286      English Patient, The (1996)            1759.0
171       172  Empire Strikes Back, The (1980)            1543.0
120       121    Independence Day (ID4) (1996)            1475.0

Bottom 5 War Movies:
       movie id                                  movie title  popularity_score
1422      1423                     Walking Dead, The (1995)               9.0
1356      1357                        For the Moment (1994)               8.0
1631      1632  Land and Freedom (Tierra y libertad) (1995)               3.0
1662      1663                      Nothing Personal (1995)               2.0
1573      1574                        Pharaoh's Army (1995)               1.0

In [25]:
# Example: View top 5 most suggested and highly rated Western movies
print("Top 5 Western Movies:\n", top_bottom_movies["Western"]['Top 5'])

# Example: View bottom 5 Western Movies
print("\nBottom 5 Western Movies:\n", top_bottom_movies["Western"]['Bottom 5'])

Top 5 Western Movies:
      movie id                                movie title  popularity_score
96         97                  Dances with Wolves (1990)             971.0
434       435  Butch Cassidy and the Sundance Kid (1969)             853.0
202       203                          Unforgiven (1992)             704.0
176       177     Good, The Bad and The Ugly, The (1966)             529.0
509       510              Magnificent Seven, The (1954)             477.0

Bottom 5 Western Movies:
       movie id                          movie title  popularity_score
1003      1004  Geronimo: An American Legend (1993)              28.0
1453      1454          Angel and the Badman (1947)              18.0
1246      1247                     Bad Girls (1994)              11.0
1454      1455                   Outlaw, The (1943)               5.0
1586      1587        Terror in a Texas Town (1958)               1.0